body {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
ul {
  list-style: none;
  padding: 0px;
}
#header {
  background-color: #23282d;
  padding-top: 28px;
  padding-bottom: 9px;
  margin-bottom: 32px;
}
form#search {
  position: relative;
}
form#search input {
  background-color: #131619;
  border: none;
  outline: none;
  width: 247px;
  padding: 9px 42px 9px 11px;
  color: #909090;
}
form#search button {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #131619;
  border: none;
  color: #8f8e8f;
  padding: 9px 12px 9px 12px;
}
nav {
  width: 100%;
  display: block;
  border-right: 10px solid #ff2d2d;
}

ul#main-menu li a {
  padding: 6px 20px 6px 20px;
  display: block;
}
ul#main-menu li:first-child a {
  padding-left: 0px;
}
